<!DOCTYPE html>
<html ng-app="myhh" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/style/bootswatch.min.css}" rel="stylesheet" type="text/css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
    <script th:src="@{/scripts/app.js}"></script>
    <script th:src="@{/scripts/js/bootstrap.js}"></script>
    <script th:src="@{/scripts/js/bootstrap.min.js}"></script>
    <script th:src="@{/scripts/js/npm.js}"></script>

    <script th:src="@{/scripts/services/services.js}"></script>
    <script th:src="@{/scripts/controllers/lesson-plan-controller.js}"></script>
    <script th:src="@{/scripts/controllers/login-controller.js}"></script>
</head>

<body>
<div class="container">
    <div class="masthead">
        <h3 class="text-muted">My Orange Hard Hat</h3>
        <img th:src="@{/images/myorangehardhatlogo.png}"/>
        <div class="bs-component">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                            <li><a href="#/lesson-plans">Courses</a></li>
                            <li><a href="#/contact-us">Contact Us</a></li>
                            <li><a href="#/about-us">About Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div ng-view="" id="ng-view"></div>
    <!-- Site footer -->
    <footer class="footer">
        <p><label>&copy; 2015 My Orange Hard Hat Inc. All rights reserved.</label></p>
    </footer>
</div>
</body>
</html>