<!DOCTYPE html>
<html ng-app="myhh" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/style/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>

        <!--<link th:href="@{/style/homepage.css}" rel="stylesheet" type="text/css"/>-->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.js"></script>
        <script th:src="@{/scripts/app.js}"></script>
        <script th:src="@{/scripts/js/bootstrap.js}"></script>
        <script th:src="@{/scripts/js/bootstrap.min.js}"></script>
        <script th:src="@{/scripts/js/npm.js}"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    </head>

    <body>
        <div>
            <img src="/images/orange_red_hat_mainlogo.jpg"/>
        </div>
        <div>
            <form class="container" method="post" name="loginForm" ng-controller="loginController">
                <div class="email-label">
                    <label>E-mail</label>
                </div>
                <div class="email">
                    <input class="input-box" name="email" maxlength="75" value="" type="text" placeholder="yourname@email.com"/>
                </div>
                <div class="password-label">
                    <label>Password</label>
                </div>
                <div class="">
                    <input class="password" name="password" maxlength="50" autocomplete="off" type="password" placeholder="Password"/>
                </div>
                <div class="remember-me-label">
                    <input type="checkbox" name="remember"/>
                    <label>Remember Me</label>
                    <input class="sign-in-button" type="submit" value="Sign In"/>
                </div>

                <hr class = "hr"></hr>

                <div>
                    <a class="forget-password" href="/forgotpassword">Forget Your Password?</a>
                    <a class="create-account" href="/signup">Create an Account</a>
                </div>
            </form>
        </div>
    </body>
</html>