<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Prepare your kids for the future!</h1>
    <p class="lead">Technology is solving a lot of current issues and it will continue doing so in the future.
        We are continuously working to make technology easier for the kids to understand. We are preparing kids
        to solve the problems while learning those tools.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Register Now</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Build a LED Forest</h2>
        <p>Teach your kid how to make a simple LED circuit and light up green LEDs and trigger their imagination on
            creating a greener tomorrow all the while building a LED forest</p>
        <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
    </div>
    <div class="col-lg-4">
        <h2>Customize your orange hard hat</h2>
        <p>Jump into the world of wearable electronics while customizing your own hat</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Firewalker Junior</h2>
        <p>Make a mark with your shoes and make it shine</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>